
/.ai/google_gemini-2.5-flash-preview-05-20_prompt.md
/.ai/promt.md
/.ai/Пример_оформления_прямой_речи.md
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/obsidian-and-ai.iml
/.idea/vcs.xml
/.obsidian/
